/* ---- General styles ---- */

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #0000;*/
}

.icon {
  font-size: 31px;
}

/* ---- Section styles ---- */

.card {
  width: 460px;
  margin: 55px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 5px 10px 30px #ccc;
}

/* ---- Header ---- */

.card-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-content: center;
  padding-top: 8px;
}

.card-profile {
  width: 100%;
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: left;
}

.profile-names {
  margin-left: 10px;
  margin-bottom: 5px;
  display: block;
}

.profile-names > h1 {
  font-size: 15px;
  margin: auto;
}

.profile-names > h2 {
  font-size: 14px;
  font-weight: 300;
  margin: auto;
}

.options-icon {
  width: auto;
  align-self: center;
  font-size: 26px;
  margin-bottom: 3px;
  margin-right: 15px;
}

/* ---- Card content or footer ---- */

.card-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card-content-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
