body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
}

.postcard  {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  margin: 0 auto;
  padding: 20px;
  width: 350px;
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.body {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.body form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  padding: 1rem;
}

.body form > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.body-text {
  white-space: pre-line;
  align-items: flex-start;
  max-width: fit-content;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  background-color: grey;
  height: 30px;
  border: none;
}
